@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background-color: #001B26;
}

nav {
    border-bottom: 1px solid rgba(255, 253, 253, 0.12);
}

.logo {
    margin: 0; 
    padding: 0;
}

.señatalk-ico {
    width: 60px; 
    height: 60px; 
    margin: 0;
}

.nav-link {
    color: #fff;
}

.hamburguer {
    background-image: url(../img/menu.png);

}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
}

.main-h1, .main-h2 {
    text-align: left;
}

.start {
    display: block;
    margin: 30px auto;
    background-color: rgba(12, 82, 109, 0.44);
    border-radius: 20px;
    width: 300px;
    height: 70px;
}

.start:hover {
    background-color: rgba(12, 82, 109, 0.44);
    width: 310px;
    height: 80px;
}

.start a {
    font-size: 20px;
    text-decoration: none;
    color: #07E5FF;
}

.main-h1 {
    color: #07E5FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
}

.main-h2 {
    color: #07E5FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 38px;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
}

.main-desc {
    color: #07E5FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    max-width: 900px;
}

footer {
    border-top: 1px solid rgba(255, 253, 253, 0.12);
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-title, .contact-desc {
    color: #07E5FF;
    text-align: center;
}

.contact-img {
    width: 100px;
    height: 100px;
    margin: auto;
}

@media (max-width: 576px) {
    .contact-desc {
        color: #07E5FF;
        font-size: 13px;
    }
}

/*Formulario*/

.body-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img {
    margin-left: 130px;
}

.title{
    height: 100px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    background: #0C526D;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px #000;
}

form .title {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 20px;
    color: #000000;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #000000;
    padding: 0 5px;
    font-size: 18px;
}

form label input::placeholder {
    color: rgba(37, 37, 37, 0.20);
}


form .link {
    color: #252525;
    margin-bottom: 15px;
}

form #button, .nc {
    color: #000;
    border: none;
    background: #CED4DA;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

form .nc-a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.form-span {
    color: #fff;
    font-size: 20px;
}

.form-img {
    margin: auto;
}