* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #001B26;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
  
.fondo {
    border-radius: 100px 100px 100px 100px;
}


.titulo{
    color: #07E5FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height : normal;
    text-align: center;
      
}

.parrafo{
    color: #07E5FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
